#cart {
  margin: 2.5%;
  padding: 2.5%;
  border: 1px solid #ddd;
  border-radius: 10px;
}

#cart h2 {
  color: #ff7f00;
}

#cart-items {
  list-style-type: none;
  padding: 0;
}

button.quantity-btn {
  background-color: #ff7f00;
  color: white;
  border: 1px solid #ff7f00;
  padding: 5px 10px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button.quantity-btn:hover {
  background-color: #e67300;
}

button.remove-btn {
  background-color: #ff7f00;
  color: white;
  border: 1px solid #ff7f00;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button.remove-btn:hover {
  background-color: #e67300;
}

#cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
}

#proceedBtn {
  background-color: #4caf50; /* Green color */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block; /* Change to block to center */
  margin: auto; /* Set margin to auto for centering */
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

#proceedBtn:hover {
  background-color: #45a049; /* Darker green on hover */
}
