.menupage {
  display: flex;
  flex-direction: column;
}
.menutitleheads {
  font-size: calc(15px + 2vw);
  font-weight: bolder;
  margin: 3%;
}
.menudisplay {
  display: flex;
  flex-wrap: wrap;
}
.menubox {
  border: 5px solid #f5f1ef;
  margin: 2%;
  width: 29%;
  height: auto;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  color: black;
  box-sizing: border-box;
}
.resized-menu {
  width: 80%;
  height: auto;
}

button.add-to-cart-btn {
  margin-bottom: 5%;
  background-color: #ff7f00;
  color: white;
  border: 1px solid #ff7f00;
  padding: 3%;
  cursor: pointer;
  border-radius: 5px;
}

button.add-to-cart-btn:hover {
  background-color: #e67300;
}
