body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.orange-bar {
  background-color: #ff7f00;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bottombar {
  background-color: #ff7f00;
  height: auto;
  width: 100%;
  border: 1px solid #ff7f00;
}
.uselesstext {
  padding: 2px;
  color: white;
  font-size: calc(10px + 1vw);
  font-weight: bold;
}
.uselesstext2 {
  padding: 2px;
  color: white;
  font-size: calc(5px + 0.5vw);
  font-style: italic;
  margin-bottom: 3%;
}
.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  font-size: calc(10px + 1vw);
  padding: 1%;
}
.titlehead {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.content-container {
  width: 50%;
  height: auto;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popeyeschicken {
  margin: 0px;
  padding: 50px;
  height: auto;
}

.resized-image-placeholder1 {
  padding: 10px;
  width: 50%;
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.resized-image-placeholder2 {
  width: 70%;
  display: block;
}
.orderbutton {
  width: 15%;
  height: 30%;
  border-radius: 60px;
  background-color: #ff7f00;
  margin: 22px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orderword {
  font-size: calc(8px + 1.6vw);
  margin: 5%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
